DB_URL=postgresql+psycopg://username:password@localhost/database_name
TEST_DB_URL=postgresql+psycopg://username:password@localhost/test_database_name
SECRET_KEY=secret
FRONTEND_URL=http://localhost:3000
ENV=DEVELOPMENT
MAIL_FROM=example@example.com
SMTP_SERVER=localhost
SMTP_PORT=587
SMTP_USERNAME=username
SMTP_PASSWORD=password
