DB_URL=postgresql+psycopg://username:password@localhost/database_name
TEST_DB_URL=postgresql+psycopg://username:password@localhost/test_database_name
SECRET_KEY=secret
FRONTEND_URL=http://localhost:3000
ENV=DEVELOPMENT
